.nav-bar {
  position: relative;
  width: 100%;
  height: auto;
  color: #aa5839;
  background-color: #1c1b1b;

  &-right {
    display: inline-block;
    padding: 1.5rem;
    list-style: none;

    li {
      font-size: 1.4rem;
    }

  }

  &-left {
    display: inline-block;
    float: right;
    padding: 2rem;
    list-style: none;
    li {
      float: left;
      padding-right: 1rem;
      padding-left: 4rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #aa5839;
      text-transform: uppercase;
      letter-spacing: .4rem;
    }
  }

  .nav-option {
    color: #aa5839;
    text-decoration: none;
    opacity: 0.95;

    &:hover {
      font-size: 1.42rem;
      color: #914b30;
    }
  }
}

